.box {
	width: 400px;
	height: 400px;
	margin: 20px;
	position: relative;
}

.one {
	background-color: #FF0000FF;
}

.two {
	background-color: #0026FFFF;
}

.purple {
	width: 200px;
	height: 200px;
	background-color: #57007FFF;
	position: absolute;	
	left: 100px;
	top: 100px;
}

.yellow {
	width: 100px;
	height: 100px;
	background-color: #FFD800FF;
	position: absolute;	
}

.green{
	width: 200px;
	height: 200px;
	background-color: #267F00FF;
	position: absolute;	
	left: 100px;
	top: 100px;
}

.black {
	width: 100px;
	height: 100px;
	background-color: #000000FF;
	position: absolute;	
}